# =====================================
# PYTHON
# =====================================

__pycache__/
*.py[cod]
*$py.class


# =====================================
# ENTORNOS VIRTUALES
# =====================================

.venv/
venv/
env/


# =====================================
# CACHES Y TESTS
# =====================================

.pytest_cache/
.cache/
.coverage
htmlcov/


# =====================================
# BUILD / DISTRIBUCIÓN
# =====================================

build/
dist/
*.egg-info/


# =====================================
# LOGS
# =====================================

*.log


# =====================================
# VS CODE
# =====================================

.vscode/


# =====================================
# SISTEMA OPERATIVO
# =====================================

.DS_Store
Thumbs.db


# =====================================
# VARIABLES LOCALES
# =====================================

.env


# =====================================
# TEMPORALES
# =====================================

*.tmp
*.temp


# =====================================
# PYGAME / RECURSOS TEMPORALES
# =====================================

*.bak